{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>{{.Title}}</title>

    {{if .Description}}
    <meta
        name="description"
        content="{{.Description}}"
    >

    <meta
        property="og:description"
        content="{{.Description}}"
    >
    {{end}}

    {{if .OGTitle}}
    <meta
        property="og:title"
        content="{{.OGTitle}}"
    >
    {{end}}

    {{if .OGType}}
    <meta
        property="og:type"
        content="{{.OGType}}"
    >
    {{end}}

    <meta
        name="twitter:card"
        content="summary_large_image"
    >

    <meta
        name="theme-color"
        content="#050B18"
    >

    <link
        rel="icon"
        href="/static/favicon.svg"
        type="image/svg+xml"
    >

    <script
        src="../../static/scripts/min.htmx.js"
    ></script>

    <link
        rel="stylesheet"
        href="/static/css/app.css"
    >

</head>

<body class="min-h-screen bg-[#050B18] text-white antialiased">

    {{template "header" .}}

    {{template "content" .}}

    {{template "footer" .}}

</body>

</html>
{{end}}
